.App {
  text-align: center;
}

.aboutMeClass{
  padding-top: 80px;
  background-color:#1A1A2E ;
}

.resumeClass{
  background-color: #16213E;
}

.projectClass{
  background-color:#0F3460 ;
}

.contactClass{
  background-color: #E94560;
  padding-bottom: 15px;
}
