body{
  color:aliceblue;

}
button#navbar-toggler {
  background-color: red;
  }

 .navbar{
  padding: 15px;
 } 
.navBg{
background-color:#1A1A2E;
color: aliceblue;
}

.navbar-light .navbar-brand {
  color: aliceblue;
}
.navbr img{
  position: relative;
  bottom:1.6px;
}
.navbar-light .navbar-nav .nav-link {
  color: aliceblue;
}
.navbar-light .navbar-toggler {
  background-color: aliceblue;
}

.colAbtMe{
  text-align:center;
  padding-top: 15px;
  font-family: 'Victor Mono', monospace;
  opacity: 0.7;
 }

.colMyImg{
  text-align: center;
  padding: 37px;
  opacity: 0.55;
}

.resumeDiv{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 30px;
    font-family: 'Lora', serif;
    font-family: 'Victor Mono', monospace;
   
}

.cardRes1,.cardRes2,.cardRes3{
  background-color: #16213E;
}

.eduCard{
  background-color: #1A1A2E;
  padding-top: 10px;
  box-shadow: 1px 1px 10px black;
}

.skillCol{
  text-align:center;
  background-color: #1A1A2E;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: auto;
  box-shadow: 1px 1px 10px black;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.skillCol:hover{
  opacity: 0.6;
}

.projectDiv{
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: 'Lora', serif;
  font-family: 'Victor Mono', monospace;

}
.proCard1{
  background-color:aliceblue;
  color:#16213E;
  border:2px solid black;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  text-align:left;
  margin:10px;
  box-shadow: 1px 1px 10px black;
}

.moreInfoBtn{
  margin:10px;
  margin-left: 0;
}

.contactClass{
  font-family: 'IBM Plex Mono', monospace;
font-family: 'Lora', serif;
font-family: 'Victor Mono', monospace;
}

.smImg{
  margin:1px;
  transition: 0.4ms;
}

.smImg:hover{
  opacity: 0.3;
}